<h1>Page 4</h1>

<%= turbo_frame_tag 'page4-image' do %>
    <%= image_tag 'image.svg', class: 'w-52' %>
<% end %>

<%= turbo_frame_tag 'page4-text' do %>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum erat justo, hendrerit maximus purus rhoncus ac. Nam nec pharetra ligula. Maecenas mollis tortor gravida.</p>
<% end %>